
.btn{
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .75em 1em;
    background-color: lightgray;
    color: black;
    border-radius: .25rem;
    cursor: pointer;
    vertical-align: text-bottom;
    &-sm{
        font-size: .6rem;
    }
    &-lg{
        font-size: 1.2rem;
    }
}